h2 Agregar nueva celebridad
form(action="/celebrities/", method="post")
    input(type="text", name="name", placeholder="Nombre")
    input(type="text", name="occupation", placeholder="Ocupación")
    input(type="text", name="catchPhrase", placeholder="Frase mamalona")
    button(type="submit") Guardar celebridad
